:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  padding: 1rem 0;
}

nav a {
  display: block;
  padding: 2rem 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}

nav a:hover {
  border-color: var(--secondary-color);
}

nav .burger-menu {
  padding-top: 6px;
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

nav ul li {
  -webkit-box-shadow: 0px 2px 2px var(--primary-shadow);
          box-shadow: 0px 2px 2px var(--primary-shadow);
  font-weight: var(--bold-font);
}

nav ul {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

nav .show {
  top: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  background-color: var(--bg-color);
  opacity: 1;
  z-index: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (min-width: 720px) {
  nav {
    padding: 1rem 3.5rem;
  }
  nav .burger-menu {
    display: none;
  }
  nav a {
    padding: 0.1rem 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.9rem;
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  nav ul li {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

.hero img {
  margin: 0 auto;
  max-width: 450px;
  max-height: 300px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.bio {
  margin: 0 auto;
  max-width: 525px;
  padding: 0 2rem;
  letter-spacing: 1px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 15px 2px var(--primary-shadow);
          box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 0.8rem;
}

.bio p {
  text-align: justify;
  line-height: var(--line-height);
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 3rem 5rem;
  }
  .bio {
    width: 25rem;
    min-height: 200px;
    padding: 0.625rem;
  }
}

.skills {
  width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.skills-header {
  margin-bottom: 1rem;
  text-align: center;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 7rem;
  height: 7rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  -webkit-box-shadow: 0 4px 10px var(--secondary-shadow);
          box-shadow: 0 4px 10px var(--secondary-shadow);
  padding: 1.2rem;
  margin: 0.9rem;
}

.projects {
  background-color: #333;
  padding: 3rem 0;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--bg-color);
}

.project-pic {
  width: 70%;
  height: 60%;
}

.project-container {
  text-align: center;
  width: 17.875rem;
  padding: 1rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.project-container p {
  padding-top: 1rem;
}

.project-title {
  padding-top: 1rem;
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
  text-align: justify;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  -webkit-box-shadow: 0 3px 10px var(--bg-color);
          box-shadow: 0 3px 10px var(--bg-color);
  padding: 20px;
  margin: 10px;
  height: auto;
}

.project-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-tools {
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 1rem 0 0;
}

@media screen and (min-width: 420px) {
  .project-container {
    width: 20.875rem;
  }
}

@media screen and (min-width: 720px) {
  .projects-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-container {
    width: 21.875rem;
  }
}

.contact {
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.contact h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: auto;
  padding: 0.938rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px var(--secondary-shadow);
          box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  padding-left: 1rem;
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container .form-control {
  margin-bottom: 1rem;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 0.9rem 0 0.9rem 1.2rem;
  border-radius: 20px;
  border: none;
  font-size: 0.875rem;
  border: 1px outset var(--primary-color);
  outline-color: var(--secondary-color);
}

.contact-form-container textarea {
  font-family: var(--font-family);
}

.contact .input-field::-webkit-input-placeholder {
  color: var(--primary-color);
}

.contact .input-field:-ms-input-placeholder {
  color: var(--primary-color);
}

.contact .input-field::-ms-input-placeholder {
  color: var(--primary-color);
}

.contact .input-field::placeholder {
  color: var(--primary-color);
}

.contact .submit-btn {
  width: 100%;
  padding: 0.9rem;
  margin: 1.5rem 0 0.5rem 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: var(--bold-font);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.contact .submit-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .contact-form-container {
    max-width: 17.75rem;
  }
}

@media screen and (max-width: 720px) {
  .contact-form-container {
    max-width: 23.75rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-height: 30vh;
  text-align: center;
  color: #fff;
  background-color: #333;
}

footer a {
  display: inline-block;
  margin: 0 2rem;
  color: var(--bg-color);
  font-size: 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

footer a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

footer .socials {
  width: 500px;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-shadow);
}

footer .socials .twitter:hover {
  color: #1d9bf0;
}

footer .socials .linkedin:hover {
  color: #0a66c2;
}
/*# sourceMappingURL=styles.css.map */